<div>
    <div class="row-fluid">
            <span class="col-md-12">
                <p class="lead">
                    Project Description <br />
                    This Webservice is made for Austrian students to publish and share testcases for programming-tasks. If you participate on a course and you want to share testcases please select your university 
                    and click 'Add Testfile'. <br/> 
                    If you search for testfiles of a particular course, use the search-box or click on your university and select your course and semster.
                    <br/>
                    Good luck!  </p>
            </span>
    </div>

    <div class="row-fluid">
        <div class="col-md-6">
            <font size="5">Universities</font>
            <div class="list-group">       
              <a ng-repeat="uni in unis" href="#/nav/beispiele" ng-click="setSelectedUni(uni)" class="list-group-item">
                <p class="list-group-item-text"> {{uni.name}} </p>
              </a>   
            </div>
        </div>
        <div class="col-md-6">
            <font size="5">Sample test file</font>
            <textarea class="form-control" rows="25" readonly>
import org.junit.*;

public class OrangeTest {

    private Orange orange;

    @Before
    public void setUp() {
        this.orange = new Orange();
    }

    @After
    public void tearDown() {

    }

    @Test
    public void eatOrange_shouldMakePHappy() {
        Person p = new Person();
        p.eat(orange);
        assertTrue(p.isHappy());
    }

}</textarea>
        </div>
    </div>
</div>