<link rel="stylesheet" href="css/jquery.treegrid.css">
<link rel="stylesheet" href="css/styles.css">

<script type="text/javascript" src="js/jquery.treegrid.js"></script>
<script type="text/javascript" src="js/jquery.treegrid.bootstrap3.js"></script>

    <div class="row-fluid">
	<ul class="breadcrumb">
	<!--<li><a href="#/nav/beispiele">{{selectedUni.name}}</a></li>-->
	<!--<li><a href="#/nav/beispiele">{{selectedLva.name}}</a></li>-->
	<!--<li><a href="#/nav/beispiele">{{selectedSemester.name}}</a></li>-->
        <li><a href="#/nav/beispiele" ng-click="goToUni(selectedUni)">{{selectedUni.name}}</a></li>
        <li ng-show="selectedLva != null"><a href="#/nav/beispiele" ng-click="goToLva(selectedLva)">{{selectedLva.name}}</a></li>
        <li ng-show="selectedSemester != null"><a href="#/nav/beispiele" ng-click="goToSemester(selectedSemester)">{{selectedSemester.name}}</a></li>
	<li class="active">{{selectedBeispiel.name}}</li>
	</ul>
    </div>
    
    <div class="row-fluid">
	    <div class="col-md-10">
	    	<div class="row-fluid">
			<div class="col-md-3">
				<a href="#/testfile/add"><button type="button" class="btn btn-primary pull-left btn-block">Add Testfile</button></a><br><br><br>
			</div>
			
			<div class="col-md-3">
				<a href="pdfs/IIxD_Bsp3.pdf" target="_blank"><button type="button" class="btn btn-primary pull-left btn-block">Download Instruction</button></a><br><br><br>
			</div>
		</div>
		<div class="row-fluid">
			<div class="col-md-12">
				<table class="tree">
					<tr>
						<th><font size="5"> Testfiles for "{{selectedBeispiel.name}}" </font></th>
					</tr>
					<tbody ng-repeat="contributor in selectedBeispiel.contributors | orderBy:getAvgVotesForContributor(contributor)">
						<tr class="treegrid-{{$index+1}}" style="{{getColorContributor(contributor, selectedContributor)}}">   
							<td><font size="4"><a href="#/nav/testfiles" ng-click="setSelectedContributor(contributor)">{{contributor.user}}</a></font></td>
							<td><font size="3" color="{{getAvgVotesColorForContributor(contributor)}}">{{getAvgVotesForContributor(contributor)}}</font></td>							
							<td></td>
							<td>
								<div class="checkbox pull-right">
									<label>
										<input type="checkbox" ng-model="contributor.allSelected" ng-click='selectAllForDownload(contributor)'>
											select for download
									</label>
								</div>
							</td>
						</tr>
						<tr ng-show="selectedContributor == contributor" class="treegrid-parent-{{$parent.$index+1}}" ng-repeat="testfile in contributor.testfiles">
							<td><a href="#/testfile/details" ng-click="setSelectedTestfile(testfile)"><font size="3">{{testfile.filename}}</font>  ({{testfile.comments}} Comments / {{testfile.downloads}} Downloads)</a></td>
							<td><font color="{{getColorVotes(testfile)}}">{{getVotesForTestfile(testfile)}}</font></td>
							<td><img src="images/up_down_vote_buttons.png" class="img-responsive" alt="Vote up or down"></td>
							<td>
								<div class="checkbox pull-right">
									<label>
										<input type="checkbox" ng-click="checkAllSelected(contributor)" ng-model="testfile.forDownload">
											select for download
									</label>
								</div>
							</td>
						</tr>
  					</tbody> 
  				</table>
			</div>
		</div>
	    </div>
	    <div class="col-md-2">
			<button type="button" class="btn btn-primary pull-right btn-block">Download ({{getNrSelected(selectedBeispiel)}})</button><br><br>
			<button type="button" class="btn btn-info pull-right btn-block" ng-click="selectAllForBeispiel(selectedBeispiel)">Select all</button><br><br>
			<button type="button" class="btn btn-info pull-right btn-block" ng-click="selectGoodForBeispiel(selectedBeispiel)">Select good</button>
	    </div>
    </div>
