<div ng-controller="SearchGlobalController">

    <!--<div><input ng-model="searchString" placeholder="Search for"/></div>-->
    <div><h2>Results for search string '<span>{{searchString}}</span>'</h2></div>

    <div class="row">
        <div class="col-md-6">
            <!-- Bildungseinrichtungen -->
            <h3>Bildungseinrichtungen</h3>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="uni in bildungseinrichtungen | filter:searchString"><a href="#/nav/beispiele"><b>{{uni.name}}</b></a></li>
            </ul>
        </div>

        <div class="col-md-6">
            <!-- Lehrveranstaltungen -->
            <h3>Lehrveranstaltungen</h3>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="lva in lvas2 | filter:searchString"><a href="#/nav/beispiele"><b>{{lva.name}}</b> <span class="small">({{lva.uni}})</span></a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <!-- Beispiele -->
            <h3>Beispiele</h3>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="bsp in beispiele | filter:searchString"><a href="#/nav/testfiles"><b>{{bsp.name}}</b> <span class="small">({{bsp.uni}}, {{bsp.lva}}, {{bsp.semester}})</span></a></li>
            </ul>
        </div>

        <div class="col-md-6">
            <h3>Testfiles</h3>
            <!-- Testfiles ? -->
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="testfile in testfiles | filter:searchString"><a href="#/testfile/details"><b>{{testfile.filename}}</b> <span class="small">({{testfile.beispiel.uni}}, {{testfile.beispiel.lva}}, {{testfile.beispiel.semester}}, {{testfile.beispiel.name}})</span></a></li>
            </ul>
        </div>
    </div>

</div>