<div ng-controller="SearchGlobalController">

    <!--<div><input ng-model="searchString" placeholder="Search for"/></div>-->
    <div><h2>Results for search string '<span>{{searchString}}</span>'</h2></div>

    <div class="row">
        <div class="col-md-6">
            <!-- Bildungseinrichtungen -->
            <h3>Bildungseinrichtungen</h3>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="uni in unis | filter:searchString"><a href="#/nav/beispiele">{{uni.name}}</a></li>
            </ul>
        </div>

        <div class="col-md-6">
            <!-- Lehrveranstaltungen -->
            <h3>Lehrveranstaltungen</h3>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="lva in lvas | filter:searchString"><a href="#/nav/beispiele">{{lva.name}} ({{lva.uni}})</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <!-- Beispiele -->
            <h3>Beispiele</h3>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="bsp in beispiele | filter:searchString"><a href="#/nav/testfiles">{{bsp.name}} ({{bsp.uni}}, {{bsp.lva}}, {{bsp.semester}})</a></li>
            </ul>
        </div>

        <div class="col-md-6">
            <h3>Testfiles</h3>
            <!-- Testfiles ? -->
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="testfile in testfiles | filter:searchString"><a href="#/testfile/details">{{testfile.name}}</a></li>
            </ul>
        </div>
    </div>

</div>