<div class="row-fluid">
	<div class="col-md-3">
		<img src="images/no_image_thumbnail.png" alt="Avatar" class="img-rounded center-block">
		<button type="button" class="btn btn-info center-block">Change Avatar</button>
	</div>
	<div class="col-md-9">
		<br><br><br>
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label for="username" class="col-md-2 control-label">Username</label>
				<div class="col-md-10">
					<input ng-model="user.username" type="text" class="form-control" id="username">
				</div>
			</div>
			<div class="form-group">
				<label for="email" class="col-md-2 control-label">E-Mail</label>
				<div class="col-md-10">
					<input ng-model="user.email" type="email" class="form-control" id="email" placeholder="1234567@student.tuwien.ac.at">
				</div>
			</div>
			<div class="form-group">
				<label for="pw_button" class="col-md-2 control-label">Password</label>
				<div class="col-md-10">
					<button type="button" class="btn btn-info" data-toggle="modal" data-target="#change_pw" id="pw_button">Change Password</button>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="row-fluid">
	<div class="col-md-12">
		<hr>
        user.notifications.type.push: {{user.notifications.type.push}} <br>
        user.notifications.type.email: {{user.notifications.type.email}} <br>
        user.notifications.trigger.newTestfiles: {{user.notifications.trigger.newTestfiles}} <br>
        user.notifications.trigger.comments: {{user.notifications.trigger.comments}} <br>
        user.notifications.trigger.answer: {{user.notifications.trigger.answer}} <br>

		<h4 class="text-center">Change Notification Settings</h4>
		<div class="col-md-6 col-md-offset-3">
			<form class="form-horizontal" role="form">
				<div class="checkbox">
					<label>
						<input ng-model="user.notifications.type.push" type="checkbox" checked="{{user.notifications.type.push}}" value="">
							Push Notifications
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input ng-model="user.notifications.type.email" ng-checked="user.notifications.type.email" type="checkbox">
							E-Mail Notifications
					</label>
				</div>
				<br>
				Notify my when ...
				<div class="checkbox">
					<label>
						<input ng-model="user.notifications.trigger.newTestfiles" type="checkbox">
							there are new Testfiles for one of my favourites
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input ng-model="user.notifications.trigger.comments" ng-checked="user.notifications.trigger.comments" type="checkbox" value="">
							someone commented on my testfile
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input ng-model="user.notifications.trigger.answer" ng-checked="user.notifications.trigger.answer" checked="{{user.notifications.trigger.answer}}" type="checkbox" value="">
							someone answered my comment
					</label>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="col-md-12">
		<a href="#/home"><button type="button" class="btn btn-primary pull-right">Save Changes</button></a>
	</div>
</div>


<div class="modal fade" id="change_pw" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Change Password</h4>
      </div>
      <div class="modal-body">
      		<form class="form-horizontal" role="form">
      			<div class="form-group">
				<label for="old_pw" class="col-md-3 control-label">Old Password:</label>
				<div class="col-md-9">
                        <input ng-model="cpw_old_pw" type="password" class="form-control" id="old_pw">
				</div>
			</div>
      			<div class="form-group">
				<label for="new_pw_1" class="col-md-3 control-label">New Password:</label>
				<div class="col-md-9">
					<input ng-model="cpw_new_pw_1" type="password" class="form-control" id="new_pw_1">
				</div>
			</div>
      			<div class="form-group">
				<label for="new_pw_2" class="col-md-3 control-label">Repeat New:</label>
				<div class="col-md-9">
					<input ng-model="cpw_new_pw_2" type="password" class="form-control" id="new_pw_2">
				</div>
			</div>
      		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="changePassword(user, cpw_old_pw, cpw_new_pw_1, cpw_new_pw_2)">Save changes</button>
          <div ng-show="changePasswordFailureMessage != null">
              <hr>
              <div class="alert alert-info">
                  {{changePasswordFailureMessage}}
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
